.project{
    width: 100%;
    margin: auto;
    margin-top: 5rem;
}
.project .itemProject{

}
@media(min-width : 768px){
    .project{
        padding-bottom: 5rem;
    }
}

.new{
    left: 14px;
    top: -13px;
    font-size: 11px;
    padding: 3px;
    border-radius: 3px;
}
