nav{
    position: fixed;
}
.navbar {
    background-color: #Ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: #1b303c;
    position: fixed;

}
.Title{
    background-color: #Ffffff;
    
    margin-left: 2rem;
}

.Title h1 a{
    font-size: 2.5rem;
    cursor: pointer;
    background-color: #Ffffff;
    color: #002C3E;

}
.checkBtn {
    display: none;
}

#check {
    display: none;
}

.checkBtn {
    cursor: pointer;
    font-size: 36px;
    float: right;
    
    margin-top: -3rem;
}
.checkBtn .fa-bars{
    
    font-size: 2rem;
}
.Items{
background-color: #Ffffff;

}
.Items ul {
    display: flex;
    list-style: none;
    margin-top: 10px;
background-color: #Ffffff;

}

.Items ul li a {
    background-color: #Ffffff;
    padding: 10px 15px;
    font-size: 1.2rem;
    color: #1b303c;
    cursor: pointer;
    text-decoration: none;
    transition: all 1s;
}

.Items ul li a:hover {
    
    color: #1930ff;
    border-bottom: 2px solid #1930ff;
    transition: .2s;
    width:   10%;
}

@media screen and (max-width:805px) {
    .list {
        width: 100%;
        height: 100vh;
        background-color: #002C3E;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 2rem;
        left: 100%;
        transition: all 1s;
    }
    .Items{
        margin-right: 2rem;
    }
    #check {
        display: none;
    }
    .checkBtn {
        display: block;
        margin-right: 1rem;
    }
    #check:checked~ul {
        left: 0%;
        margin-top: 30px;
        z-index: 1;
    }
    #check:checked~ul li{
    margin-top: 30px;
}

i{
    background-color: #Ffffff;

}
}
label {
    background-color: #Ffffff;
}
