
.about{
    width: 100%;
    padding-top: 4rem;
    background-color: #5304b4;
}
.AboutMe .left {
    background-color: #5304b4;
}
.AboutMe .right{
    background-color: #5304b4;
}
.right h3{
    background-color: #5304b4;
}

.right p{
    background-color: #5304b4;
}
.right span{
    background-color: #5304b4;
}

.right{
    color: white; 
}
.left img{
    width: 300px;
    height: 300px;
    margin: auto;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media(max-width: 767px){
    
    .description{
        width: 90%;
        display: block;
        margin: auto;
    }
    .skill div img{
        width: 59px;
    height: 59px;
        position: absolute;
        background-color: #050020;
        left: 4%;
        top: 34%;
        }

    .skill{
        background-color: #310271;
        grid-template-columns: 20% 20% 20% 20% 20%;
        
        display: grid;
        margin-top: 3rem;
    }
    .skill div{
        
        width: 69px;
        height: 106px;

        background-color: #050020;
        position: relative;
    }
}
@media(min-width: 767px){
    .about{
        width: 100%;
    }
    .about .AboutMe:nth-child(1){
         display: flex;
    }
    .description{
        display: block;
        width: 88%;
        margin: auto;
    }
    .description p{
        font-size: 20px;

    }

    .skill{
        background-color: #310271;
        grid-template-columns: 20% 20% 20% 20% 20%;
        
        display: grid;
        margin-top: 3rem;
    }
    .skill div{
        width: 160px;
        height: 160px;
        background-color: #050020;
        position: relative;
    }
    .skill div img{
        width: 86px;
        height: 86px;
        position: absolute;
        background-color: #050020;
        left: 23%;
        top: 33%;
        }

}

.MySkill, h4{
    background-color: #310271;
    
}