.contact{
  max-width: 70%;
  margin: 1rem auto;
  padding: 2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.contact div{
 
}
.contact form  {
  padding-top: 2rem;
}
form div {
  background-color: #E5ecfb;
  border: 1px solid #333333;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: 70%;
  padding: 10px 20px;
  margin-top: 1rem;
}


form div input{
  border: none;
  background-color: #E5ecfb;
  outline: none;
  margin-left: 1rem;
}


form div i{
  font-size: 20px;
  color: #333333;
}
form button{
  padding: 10px 20px;
  border: none;
  background-color: #2506ad;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 1rem;
}
